---
import { BlogCard2 } from "../../components/BlogCard2/BlogCard2.jsx";
import { TimeStamp } from "../../components/TimeStamp/TimeStamp.jsx";

import blog1 from "../../img/esg.webp";
import blog2 from "../../img/cacta.webp";
import blog3 from "../../img/blog3.webp";

import blog4 from "../../img/blog5.webp";
import blog5 from "../../img/infocampo.webp";
import blog6 from "../../img/infocampo2.webp";
import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/GoBack.astro";
import { LogoTheme } from "../../components/LogoTheme.jsx";

import { geti18n } from "../../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const { title } = i18n.PAGE_BLOG;
const { button_back } = i18n.SECTION_FEATURES;
const { post_1, post_2, post_3, post_4, post_5, post_6, read_more } =
	i18n.SECTION_BLOG;
---

<Layout title="Cacta blog">
	<div id="blog-section" class="min-h-screen h-full">
		<div class="py-10 flex items-center flex-col justify-center">
			<h2
				class="text-2xl font-semibold text-gray-900 md:text-5xl dark:text-white text-center flex items-end justify-center gap-2">
				<LogoTheme client:visible />
				blog
			</h2>
			<p
				class="lg:mx-auto text-gray-600 dark:text-gray-300 text-center m-4 max-w-md">
				{title}
			</p>
		</div>

		<div
			class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 blog-container w-full max-w-7xl mx-auto px-4 md:px-12 xl:px-6 pb-6">
			<article class="">
				<TimeStamp time="2024-08-27T10:00:00Z" />
				<BlogCard2
					client:visible
					image={blog6}
					title={post_6.title}
					description={post_6.description}
					read_more={read_more}
					link="https://www.infocampo.com.ar/un-punto-a-favor-en-la-huella-ambiental-del-agro-argentino-el-nivel-de-digitalizacion-es-muy-bueno/"
				/>
			</article>

			<article class="">
				<TimeStamp time="2024-07-02T10:00:00Z" />
				<BlogCard2
					client:visible
					image={blog5}
					title={post_5.title}
					description={post_5.description}
					read_more={read_more}
					link="https://www.infocampo.com.ar/creo-un-software-de-medicion-de-impacto-ambiental-y-asegura-la-sustentabilidad-llego-para-quedarse/"
				/>
			</article>

			<article class="">
				<TimeStamp time="2024-07-02T10:00:00Z" />
				<BlogCard2
					client:visible
					image={blog4}
					title={post_4.title}
					description={post_4.description}
					read_more={read_more}
					link=""
				/>
			</article>

			<article class="">
				<TimeStamp time="2024-04-28T10:00:00Z" />
				<BlogCard2
					client:visible
					image={blog3}
					title={post_3.title}
					description={post_3.description}
					read_more={read_more}
					link=""
				/>
			</article>

			<article class="">
				<TimeStamp time="2024-04-15T10:00:00Z" />
				<BlogCard2
					client:visible
					image={blog2}
					title={post_2.title}
					description={post_2.description}
					read_more={read_more}
					link=""
				/>
			</article>
			<article class="">
				<TimeStamp time="2024-03-25T10:00:00Z" />
				<BlogCard2
					client:visible
					image={blog1}
					title={post_1.title}
					description={post_1.description}
					read_more={read_more}
					link=""
				/>
			</article>
			<GoBack button={button_back} />
		</div>
	</div>

	<style>
		.dark {
			background-color: #111826;
			z-index: -10;
		}
		.light {
			background-color: #fafafa;
			z-index: -10;
		}
	</style>

	<script>
		const section = document.getElementById("blog-section");
		if (localStorage.getItem("theme") === "dark") {
			section?.classList.add("dark");
		} else {
			section?.classList.remove("dark");
		}
	</script>
</Layout>
