---
import Container from "../Container.astro";
import BlogCard from "../BlogCard.astro";
import blog5 from "../../img/blog5.webp";
import blog6 from "../../img/infocampo.webp";
import blog7 from "../../img/infocampo2.webp";
import { TimeStamp } from "../TimeStamp/TimeStamp.jsx";

import { geti18n } from "../../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const { title, intro } = i18n.SECTION_BLOG;
const { post_7, post_5, post_6 } = i18n.SECTION_BLOG;
---

<section id="blog">
	<Container>
		<div class="mb-12 space-y-2 text-center">
			<h2
				class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
				{title}
			</h2>
			<p
				class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300 text-pretty-paragraph">
				{intro}
			</p>
		</div>
		<div
			class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 blog-container w-full"
			id="blog-info">

			<article class="">
				<TimeStamp time="2024-09-24T10:00:00Z" />
				<BlogCard
					image={blog7}
					title={post_7.title}
					description={post_7.description}
				/>
			</article>

			<article class="">
				<TimeStamp time="2024-08-27T10:00:00Z" />
				<BlogCard
					image={blog6}
					title={post_6.title}
					description={post_6.description}
				/>
			</article>

			<article class="">
				<TimeStamp time="2024-07-02T10:00:00Z" />

				<BlogCard
					image={blog5}
					title={post_5.title}
					description={post_5.description}
				/>
			</article>
		</div>
	</Container>
</section>

<style>
	#blog-info {
		animation: reveal linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 40%;
	}
</style>
