---
import Container from "../Container.astro";
import BlogCard from "../BlogCard.astro";
import blog10 from "../../img/blog/expo1.jpg";
import blog11 from "../../img/blog/galicia1.jpg";
import blog12 from "../../img/blog/bichos1.jpg";
import { TimeStamp } from "../TimeStamp/TimeStamp.jsx";

import { geti18n } from "../../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const { title, intro } = i18n.SECTION_BLOG;
const { post_12, post_11, post_10 } = i18n.SECTION_BLOG;
---

<section id="blog" class="">
	<Container>
		<div class="space-y-4 md:px-0 md:w-1/2 text-pretty mb-10">
			<h2
				class="text-5xl font-black text-gray-900 xl:text-[2.5vw] dark:text-white">
				{title}
			</h2>
			<p class="text-gray-600 dark:text-gray-300 text-pretty">
				{intro}
			</p>
		</div>
		<div
			class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 blog-container w-full z-10"
			id="blog-info">
			<article class="">
				<TimeStamp time="2025-04-17T15:00:00Z" />

				<BlogCard
					transition:name="blog_1"
					image={blog12}
					title={post_12.title}
					description={post_12.description}
				/>
			</article>

			<article class="">
				<TimeStamp time="2025-04-15T15:00:00Z" />

				<BlogCard
					transition:name="blog_2"
					image={blog11}
					title={post_11.title}
					description={post_11.description}
				/>
			</article>

			<article class="">
				<TimeStamp time="2025-04-15T15:00:00Z" />

				<BlogCard
					transition:name="blog_3"
					image={blog10}
					title={post_10.title}
					description={post_10.description}
				/>
			</article>
		</div>
	</Container>
</section>

<style>
	#blog-info {
		animation: reveal linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 40%;
	}
</style>
