<!-- ---
import bg from "../../icons/bg.svg";
import video from "../../video/portada_cacta_optimizado.mp4";
import poster from "../../img/slider6.webp";

import { geti18n } from "../../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
const {
	INTRO_TITLE_1,
	INTRO_TITLE_2,
	INTRO_TITLE_3,
	INTRO_TITLE_4,
	INTRO_DESCRIPTION_1,
	INTRO_DESCRIPTION_2,
	INTRO_DESCRIPTION_3,
} = i18n;
---

<div
	id="home"
	class="max-w-7xl m-auto h-auto xl:h-screen px-6 md:px-12 xl:px-6 -z-5">
	<div class="pt-28 lg:pt-48 ml-auto">
		<div class="text-center m-auto top-0 bottom-0">
			<section class="flex w-full items-start flex-wrap">
				<div class="w-full md:w-1/2 relative">
					<img
						class="absolute md:w-full let-0 top-0 bottom-0 m-auto drop-shadow-2xl -translate-x-[7rem] bg-gradient-to-b from-primary/30 to-transparent rounded-full -z-10 hidden xl:block"
						src={bg.src}
						alt="bg svg"
					/>
					<h1
						class="text-white dark:text-white font-bold text-start text-2xl md:text-4xl xl:text-5xl">
						{INTRO_TITLE_1}
						<br />
						<span class="text-primary text-5xl xl:text-8xl"
							>{INTRO_TITLE_2}</span
						>
						<p
							class="dark:text-white text-2xl md:text-4xl xl:text-4xl">
							{INTRO_TITLE_3}<br />
							{INTRO_TITLE_4}
						</p>
					</h1>
					<hr class="" />

					<p
						class="text-xl md:text-2xl font-semibold text-white text-start">
						{INTRO_DESCRIPTION_1}<br />{INTRO_DESCRIPTION_2}
						<br />{INTRO_DESCRIPTION_3}
					</p>
				</div>
				<div
					class="absolute top-0 left-0 -z-20 bg-black/50 container-video">
					<video
						poster={poster.src}
						transition:persist
						class="object-cover h-[60vh] lg:h-screen md:w-full bg-image"
						src={video}
						autoplay
						loop
						muted>
					</video>
				</div>
			</section>
		</div>
	</div>
</div> -->


<style>
	/* create a amazing hr */
	hr {
		border: 0;
		height: 2px;
		background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0)
		);
		width: 70%;
		margin-block: 1rem;
	}
	.container-video {
		width: 100%;
		border-bottom-left-radius: 10% 5%;
		border-bottom-right-radius: 10% 5%;
		box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
		animation: fadeOut linear both;
		animation-timeline: view();
		animation-range: 55% 85%;
	}
	.bg-image {
		/* mask: radial-gradient(circle at right, white 70%, transparent 100%); */
		border-bottom-left-radius: 10% 5%;
		border-bottom-right-radius: 10% 5%;
		/* box shadow botton */
	}
	/* @media (width >= 768px) {
		@keyframes fadeOut {
			to {
				opacity: 0;
			}
		}
	} */
</style>
