---
import Container from "../Container.astro";
import info from "../../icons/info.svg";
import { Image } from "astro:assets";
import us from "../../img/rola.png";
import Fader from "../Fader.astro";

import { geti18n } from "../../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const {
	title,
	intro_1,
	description_1,
	description_2,
	description_3,
	description_4,
	span_1,
	span_2,
	span_3,
	span_4,
	span_5,
	span_6,
	span_7,
	span_8,
	span_9,
	span_10,
} = i18n.SECTION_US;
---

<div id="us">
	<Container>
		<section class="flex justify-between items-center flex-wrap">
			<div class="w-full lg:w-1/2 text-pretty">
				<h2
					class="text-4xl font-black text-gray-900 xl:text-[2.5vw] dark:text-white">
					{title}
				</h2>
				<p
					class="my-2 text-gray-600 dark:text-gray-300 text-xl font-semibold py-2">
					{intro_1}
				</p>

				<div
					class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
					<div class="mt-8 flex gap-4 md:items-start">
						<div class="flex justify-center text-green-600">✓</div>
						<div class="w-5/6">
							<p class="text-gray-500 dark:text-gray-400">
								{description_1}
							</p>
						</div>
					</div>
					<div class="pt-4 flex gap-4 md:items-start">
						<div class="flex justify-center text-green-600">✓</div>

						<div class="w-5/6">
							<p class="text-gray-500 dark:text-gray-400">
								{description_2}
							</p>
						</div>
					</div>
					<div class="pt-4 flex gap-4 md:items-start">
						<div class="flex justify-center text-green-600">✓</div>

						<div class="w-5/6">
							<p class="text-gray-500 dark:text-gray-400">
								{description_3}
							</p>
						</div>
					</div>
					<div class="pt-4 flex gap-4 md:items-start">
						<div class="flex justify-center text-green-600">✓</div>

						<div class="w-5/6">
							<p class="text-gray-500 dark:text-gray-400">
								{description_4}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div
				class="relative w-1/2 items-center justify-center mt-5 z-0 image hidden lg:flex">
				<span
					class="absolute top-16 -left-4 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_1}</span
				>
				<span
					class="absolute top-0 right-24 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_2}</span
				>
				<span
					class="absolute top-16 -right-4 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_3}</span
				>
				<span
					class="absolute top-44 -right-14 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_4}</span
				>
				<span
					class="absolute bottom-48 -right-6 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_5}</span
				>
				<span
					class="absolute bottom-28 -right-6 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_6}</span
				>
				<span
					class="absolute bottom-10 right-6 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_7}</span
				>
				<span
					class="absolute -bottom-2 right-52 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_8}</span
				>
				<span
					class="absolute bottom-4 left-24 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_9}</span
				>
				<span
					class="absolute bottom-36 -left-10 bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-1 rounded-xl dark:bg-gray-700 dark:text-gray-300 shadow-sm"
					>{span_10}</span
				>

				<Image class="md:max-w-[55ch] -z-20" src={us} alt="app image" />
			</div>
		</section>
		<Fader />
	</Container>
</div>
<style>
	.image > img {
		animation: revealRoll linear both;
		animation-timeline: view();
		animation-range: entry 30% cover 40%;
	}
	.image > span {
		animation: revealSpanRandom linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 10%;
	}
	@media (width >= 768px) {
		@keyframes revealRoll {
			0% {
				transform: rotate(0deg) scale(0.75);
				opacity: 0;
			}
			100% {
				transform: rotate(360deg) scale(1);
				opacity: 1;
				filter: drop-shadow(0em 0em 0.1em #00ff9a);
			}
		}
	}
</style>
