---
import Container from "../Container.astro";
import devices from "../../icons/devices.svg";
import signal from "../../icons/signal.svg";
import software from "../../icons/software.svg";
import panels from "../../icons/panels.svg";
import map from "../../icons/map.svg";
import prompt from "../../icons/prompt.svg";

import { geti18n } from "../../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const { title, intro_1, intro_2, box_1, box_2, box_3, box_4, box_5, box_6 } =
	i18n.SECTION_WHYCACTA;
---

<div class="text-gray-600 dark:text-gray-300 relative" id="why-cacta">
	<Container>
		<div class="mb-20 space-y-4 px-6 md:px-0 md:w-1/2 mx-auto text-center">
			<h2
				class="text-5xl font-black text-gray-900 xl:text-[2.5vw] dark:text-white">
				{title}
			</h2>
			<p
				class="my-2 text-gray-600 dark:text-gray-300 text-xl md:text-2xl font-bold py-2">
				{intro_1}
			</p>
			<p class="my-2 text-gray-600 dark:text-gray-300">
				{intro_2}
			</p>
		</div>

		<div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
			<div
				class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none">
				<div
					class="flex justify-center w-fit m-auto rounded-full bg-gradient-to-r from-[#00ff9a] to-[#007d67] p-2">
					<img
						class="w-8 h-8 rounded-full"
						src={signal.src}
						alt="user avatar"
						width="400"
						height="400"
						loading="lazy"
					/>
					<div></div>
				</div>
				<p class="mt-8 text-center text-pretty">
					{box_1}
				</p>
			</div>
			<div
				class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none">
				<div
					class="flex justify-center w-fit m-auto rounded-full bg-gradient-to-r from-[#00ff9a] to-[#007d67] p-2">
					<img
						class="w-8 h-8 rounded-full"
						src={prompt.src}
						alt="user avatar"
						width="400"
						height="400"
						loading="lazy"
					/>
					<div></div>
				</div>
				<p class="mt-8 text-center text-pretty">
					{box_2}
				</p>
			</div>
			<div
				class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none">
				<div
					class="flex justify-center w-fit m-auto rounded-full bg-gradient-to-r from-[#00ff9a] to-[#007d67] p-2">
					<img
						class="w-8 h-8 rounded-full"
						src={panels.src}
						alt="user avatar"
						width="400"
						height="400"
						loading="lazy"
					/>
					<div></div>
				</div>
				<p class="mt-8 text-center text-pretty">
					{box_3}
				</p>
			</div>
			<div
				class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none">
				<div
					class="flex justify-center w-fit m-auto rounded-full bg-gradient-to-r from-[#00ff9a] to-[#007d67] p-2">
					<img
						class="w-8 h-8 rounded-full"
						src={map.src}
						alt="user avatar"
						width="400"
						height="400"
						loading="lazy"
					/>
					<div></div>
				</div>
				<p class="mt-8 text-center text-pretty">
					{box_4}
				</p>
			</div>
			<div
				class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none">
				<div
					class="flex justify-center w-fit m-auto rounded-full bg-gradient-to-r from-[#00ff9a] to-[#007d67] p-2">
					<img
						class="w-8 h-8 rounded-full"
						src={software.src}
						alt="user avatar"
						width="400"
						height="400"
						loading="lazy"
					/>
					<div></div>
				</div>
				<p class="mt-8 text-center text-pretty">
					{box_5}
				</p>
			</div>
			<div
				class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none">
				<div
					class="flex justify-center w-fit m-auto rounded-full bg-gradient-to-r from-[#00ff9a] to-[#007d67] p-2">
					<img
						class="w-8 h-8 rounded-full"
						src={devices.src}
						alt="user avatar"
						width="400"
						height="400"
						loading="lazy"
					/>
				</div>
				<p class="mt-8 text-center text-pretty">
					{box_6}
				</p>
			</div>
		</div>
	</Container>
</div>
