---
import juan from "../img/juan.webp";
import maxi from "../img/maxi.webp";
import luciano from "../img/luciano.webp";
import jose from "../img/jose.webp";
import vicky from "../img/vicky.jpg";
import sofia from "../img/sofia.webp";
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/GoBack.astro";
import { LogoTheme } from "../components/LogoTheme.jsx";

import { geti18n } from "../i18n/";
import Container from "../components/Container.astro";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const { description } = i18n.FOOTER;
---

<Layout title="Cacta Team">
	<section class="h-full m-auto w-full" id="team-section">
		<Container>
			<h2
				class="text-5xl flex-col font-bold text-gray-900 dark:text-white text-center flex items-center justify-center gap-2">
				<LogoTheme client:visible />
				team
			</h2>
			<p
				class="max-w-[75ch] text-gray-600 dark:text-gray-300 text-pretty-paragraph text-center my-5 mx-auto">
				{description}
				<div class="box">
					<div class="card">
						<div class="imgBox">
							<img src={luciano.src} alt="some image" />
						</div>
						<div class="details">
							<h3>
								Luciano Sambataro <br /><span
									>CEO | Co-founder</span
								>
							</h3>
						</div>
					</div>

					<div class="card">
						<div class="imgBox">
							<img src={maxi.src} alt="some image" />
						</div>
						<div class="details">
							<h3>
								Maxi Hense <br /><span>CFO | Co-Founder</span
								><br />
							</h3>
						</div>
					</div>

					<div class="card">
						<div class="imgBox">
							<img src={jose.src} alt="some image" />
						</div>
						<div class="details">
							<h3>
								José Luis Cebe <br /><span
									>Accounts Director | Co-founder</span
								>
							</h3>
						</div>
					</div>

					<div class="card">
						<div class="imgBox">
							<img src={juan.src} alt="some image" />
						</div>
						<div class="details">
							<h3>
								Juan Pablo Tena <br /><span
									>Strategy Director</span
								>
							</h3>
						</div>
					</div>

					<div class="card">
						<div class="imgBox">
							<img src={vicky.src} alt="some image" />
						</div>
						<div class="details">
							<h3>
								Victoria Engelberger <br /><span
									>Comercial Director</span
								>
							</h3>
						</div>
					</div>

					<div class="card">
						<div class="imgBox">
							<img src={sofia.src} alt="some image" />
						</div>
						<div class="details">
							<h3>
								Sofia Rodriguez <br /><span
									>Software Developer</span
								>
							</h3>
						</div>
					</div>
				</div>
			</p>
			<GoBack />
		</Container>
	</section>
</Layout>

<style>
	#team-section {
		background-image: url("../img/waves-bg-top.svg");
		background-repeat: no-repeat;
		background-position: top;
		background-size: 100%;
	}
	section {
		height: 100%;
		min-height: 100vh;
	}
	.box {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		z-index: 6;
		gap: 2rem;
		padding: 3rem;
	}

	.card {
		position: relative;
		width: 300px;
		height: 400px;
		background: #ffffff;
		border-radius: 3px;
		margin: 0 auto;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
		border-radius: 3rem;
		z-index: 10;
	}

	.card::before,
	.card::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 3px;
		background: #ffffff;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
		z-index: -1;
		transition: 0.5s;
		border-radius: 3rem;
	}

	.card:hover::after {
		transform: rotate(10deg);
	}

	.card:hover::before {
		transform: rotate(20deg);
	}

	.card .imgBox {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		z-index: 1;
		transition: 0.5s;
		z-index: 10;
	}

	.card:hover .imgBox {
		transform: scale(0.75) rotate(0deg) translate(0px, -35px);
		filter: drop-shadow(0 0 0.15rem #0dac4f);
	}

	.card .imgBox img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 3rem;
	}

	.card .details {
		position: absolute;
		left: 10px;
		right: 10px;
		bottom: 10px;
		height: 65px;
		text-align: center;
		z-index: 3;
	}
	.card .details h3 {
		line-height: 1.5rem;
		font-weight: 800;
		font-size: 1.25rem;
		color: #111826;
	}

	.card .details h3 span {
		font-weight: 400;
		font-size: 0.95rem;
		color: #0dac4f;
	}
	.dark {
		background-color: #111826;
	}
	.light {
		background-color: #fafafa;
	}
</style>

<script is:inline>
	const section = document.getElementById("team-section");
	if (localStorage.getItem("theme") === "dark") {
		section?.classList.add("dark");
	} else {
		section?.classList.remove("dark");
	}
</script>
