---
import Container from "./Container.astro";
import logo from "../../public/logo.png";
import world from "../icons/world.svg";
import ThemeToggle from "./ThemeToggle.astro";
import linkedin from "../icons/linkedin.svg";
import instagram from "../icons/instagram.svg";
import team from "../icons/team.svg";
import bottomWave from "../img/waves-bg-bottom.svg";
import {
	getLangFromUrl,
	useTranslations,
	useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { geti18n } from "../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<footer class="dark:text-white pt-40 relative" id="footer">
	<img
		src={bottomWave.src}
		alt="top wave svg"
		class="w-full absolute z-0 right-0 bottom-0 dark:opacity-20 opacity-5"
	/>
	<Container>
		<section
			class="border p-4 border-gray-100 rounded-3xl bg-[#fafafa]/75 dark:bg-gray-800/75 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none flex justify-center md:justify-between w-full items-center m-auto flex-wrap gap-2">
			<article class="opacity-75 flex gap-3 items-center z-10">
				<a
					title="go to ezestom website"
					target="_blank"
					href="https://ezestom.github.io/portfolio/"
					class="flex items-center space-x-3 transition px-4 py-1 rounded-xl dark:bg-slate-600 hover:bg-slate-100 dark:hover:bg-slate-500 border border-transparent dark:border-slate-500 hover:border-slate-200">
					<div
						class="flex text-sm flex-col items-center tracking-tighter">
						<span class="span-footer text-center"
							>Designed by</span
						>
						<span
							class="span-footer flex items-center gap-1 text-center">
							Eze Stom</span
						>
					</div>
				</a>
			</article>
			<div class="flex gap-1 md:gap-10 items-center">
				<article
					class="flex items-center space-x-3 transition px-4 py-1 rounded-xl dark:bg-slate-600 border border-transparent dark:border-slate-500 text-sm tracking-tighter opacity-75">
					<div>
						<p class="flex items-center gap-1 text-center">
							<span
								><img
									src={logo.src}
									alt="logo icon"
									class="w-8"
								/></span
							>© 2025 Cacta SAS.
						</p>

						<p class="text-center">All rights reserved.</p>
					</div>
				</article>
			</div>
			<article class="">
				<ul role="list" class="flex gap-2 0">
					<li class="z-20">
						<ThemeToggle />
					</li>
					<li>
						<a
							title="team"
							href={translatePath("/the-cacta-team")}
							class="flex items-center space-x-3 transition p-2 rounded-xl dark:bg-slate-600 hover:bg-slate-100 dark:hover:bg-slate-500 border border-transparent dark:border-slate-500 hover:border-slate-200">
							<img
								class="w-6 h-6 opacity-50"
								src={team.src}
								alt="team-icon"
							/>
						</a>
					</li>
					<li>
						<a
							title="linkedin"
							href="https://www.linkedin.com/company/cactaeco/"
							target="_blank"
							class="flex items-center space-x-3 transition p-2 rounded-xl dark:bg-slate-600 hover:bg-slate-100 dark:hover:bg-slate-500 border border-transparent dark:border-slate-500 hover:border-slate-200">
							<img
								class="w-6 h-6 opacity-50"
								src={linkedin.src}
								alt="linkedin-icon"
							/>
						</a>
					</li>
					<li>
						<a
							title="instagram"
							href="https://www.instagram.com/cacta_eco/"
							target="_blank"
							class="flex items-center space-x-3 transition p-2 rounded-xl dark:bg-slate-600 hover:bg-slate-100 dark:hover:bg-slate-500 border border-transparent dark:border-slate-500 hover:border-slate-200">
							<img
								class="w-6 h-6 opacity-50"
								src={instagram.src}
								alt="instagram-icon"
							/>
						</a>
					</li>
				</ul>
			</article>
		</section>
	</Container>
</footer>
