---
import frutucuman from "../img/logo/frutucuman.png";
import donato from "../img/logo/donato.png";
import delotte from "../img/logo/delotte.png";
import inducitrica from "../img/logo/inducitrica.png";
import galicia from "../img/logo/galicia.webp";
import kikel from "../img/logo/kikel.png";
import lapacho from "../img/logo/lapacho.png";
import alianza from "../img/logo/alianza.png";
import agrimarba from "../img/logo/agrimarba.png";
import albor from "../img/logo/albor.png";
import bipolos from "../img/logo/bipolos.png";
import citricos from "../img/logo/citricos.png";
import finnegans from "../img/logo/finnegans.png";
import galicia_seguros from "../img/logo/galicia_seguros.png";
import twente from "../img/logo/twente.png";
import zincagro from "../img/logo/zincagro.png";

import { geti18n } from "../i18n/";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const { title, intro_1 } = i18n.FADER;

const companies = [
	{ src: donato.src, href: "#" },
	{ src: delotte.src, href: "https://grupodelotte.com/" },
	{ src: frutucuman.src, href: "https://www.frutucumansa.com.ar/" },
	{ src: inducitrica.src, href: "https://inducitrica.com/" },
	{ src: galicia.src, href: "https://www.galicia.ar/empresas/" },
	{ src: kikel.src, href: "#" },
	{ src: lapacho.src, href: "https://www.agroalianza.ar/" },
	{ src: alianza.src, href: "https://www.agroalianza.ar/" },
	{ src: agrimarba.src, href: "https://www.citricoglobal.com/" },
	{ src: albor.src, href: "https://alboragro.com/" },
	{ src: bipolos.src, href: "https://www.bipolos.com/" },
	{ src: citricos.src, href: "https://www.citricoglobal.com/" },
	{ src: finnegans.src, href: "https://www.finneg.com/latam/" },
	{ src: galicia_seguros.src, href: "https://www.galiciaseguros.com.ar/" },
	{ src: twente.src, href: "https://twentepartners.com/" },
	{ src: zincagro.src, href: "http://zincagro.com.ar/w/" },
	// // repeating
	{ src: donato.src, href: "#" },
	{ src: delotte.src, href: "https://grupodelotte.com/" },
	{ src: frutucuman.src, href: "https://www.frutucumansa.com.ar/" },
	{ src: inducitrica.src, href: "https://inducitrica.com/" },
	{ src: galicia.src, href: "https://www.galicia.ar/empresas/" },
	{ src: kikel.src, href: "#" },
	{ src: lapacho.src, href: "https://www.agroalianza.ar/" },
	{ src: alianza.src, href: "https://www.agroalianza.ar/" },
	{ src: agrimarba.src, href: "https://www.citricoglobal.com/" },
	{ src: albor.src, href: "https://alboragro.com/" },
	{ src: bipolos.src, href: "https://www.bipolos.com/" },
	{ src: citricos.src, href: "https://www.citricoglobal.com/" },
	{ src: finnegans.src, href: "https://www.finneg.com/latam/" },
	{ src: galicia_seguros.src, href: "https://www.galiciaseguros.com.ar/" },
	{ src: twente.src, href: "https://twentepartners.com/" },
	{ src: zincagro.src, href: "http://zincagro.com.ar/w/" },
	// // repeating 2
	{ src: donato.src, href: "#" },
	{ src: delotte.src, href: "https://grupodelotte.com/" },
	{ src: frutucuman.src, href: "https://www.frutucumansa.com.ar/" },
	{ src: inducitrica.src, href: "https://inducitrica.com/" },
	{ src: galicia.src, href: "https://www.galicia.ar/empresas/" },
	{ src: kikel.src, href: "#" },
	{ src: lapacho.src, href: "https://www.agroalianza.ar/" },
	{ src: alianza.src, href: "https://www.agroalianza.ar/" },
	{ src: agrimarba.src, href: "https://www.citricoglobal.com/" },
	{ src: albor.src, href: "https://alboragro.com/" },
	{ src: bipolos.src, href: "https://www.bipolos.com/" },
	{ src: citricos.src, href: "https://www.citricoglobal.com/" },
	{ src: finnegans.src, href: "https://www.finneg.com/latam/" },
	{ src: galicia_seguros.src, href: "https://www.galiciaseguros.com.ar/" },
	{ src: twente.src, href: "https://twentepartners.com/" },
	{ src: zincagro.src, href: "http://zincagro.com.ar/w/" },
];
---

<section class="flex flex-col gap-2 w-full my-40" id="example-output-section">
	<h2
		class="text-4xl font-black text-gray-900 xl:text-[2.5vw] dark:text-white">
		{title}
	</h2>
	<p
		class="my-2 text-gray-600 dark:text-gray-300 text-xl font-semibold text-pretty py-2">
		{intro_1}
	</p>

	<article class="flex flex-col examples-container overflow-hidden mt-2 gap-2">
		<div class="flex flex-row examples-row gap-2 p-1 opacity-75">
			<div class="flex flex-row gap-4">
				{
					companies.map((company) => (
						<a
							href={company.href}
							target="_blank"
							class="group rounded-3xl min-w-[200px] w-[200px] flex items-center justify-center px-2 cursor-pointer transition-all hover:scale-105 shadow-sm bg-white/50 dark:bg-gray-800 dark:border dark:border-gray-700">
							<div class="p-1 flex grayscale transition duration-200 hover:grayscale-0 hover:brightness-125">
								<img
									src={company.src}
									class="h-12 w-auto m-auto object-contain"
									loading="lazy"
									alt="client logo"
									width=""
									height=""
								/>
							</div>
						</a>
					))
				}
			</div>
		</div>

		<div class="flex flex-row-reverse examples-row2 gap-2 p-1 opacity-75">
			<div class="flex flex-row gap-4">
				{
					companies.map((company) => (
						<a
							href={company.href}
							target="_blank"
							class="group rounded-3xl min-w-[200px] w-[200px] flex items-center justify-center px-2 cursor-pointer transition-all hover:scale-105 shadow-sm bg-white/50 dark:bg-gray-800 dark:border dark:border-gray-700">
							<div class="p-1 flex grayscale transition duration-200 hover:grayscale-0 hover:brightness-125">
								<img
									src={company.src}
									class="h-12 w-auto m-auto object-contain"
									loading="lazy"
									alt="client logo"
									width=""
									height=""
								/>
							</div>
						</a>
					))
				}
			</div>
		</div>

		<div class="flex flex-row examples-row3 gap-2 p-1 opacity-75">
			<div class="flex flex-row gap-4">
				{
					companies.map((company) => (
						<a
							href={company.href}
							target="_blank"
							class="group rounded-3xl min-w-[200px] w-[200px] flex items-center justify-center px-2 cursor-pointer transition-all hover:scale-105 shadow-sm bg-white/50 dark:bg-gray-800 dark:border dark:border-gray-700">
							<div class="p-1 flex grayscale transition duration-200 hover:grayscale-0 hover:brightness-125">
								<img
									src={company.src}
									class="h-12 w-auto m-auto object-contain"
									loading="lazy"
									alt="client logo"
									width=""
									height=""
								/>
							</div>
						</a>
					))
				}
			</div>
		</div>

	
		</div>
	</article>
</section>

<style>
	.examples-row {
		animation: marquee 75s linear infinite;
	}
	.examples-row2 {
		animation: marquee2 50s linear infinite;
	}
	.examples-row3 {
		animation: marquee 25s linear infinite;
	}
	.flex {
		display: flex;
	}
	.examples-container {
		-webkit-mask-image: linear-gradient(
			90deg,
			#ffffff00,
			#000 10%,
			#000,
			#000 90%,
			#ffffff00
		);
		mask-image: linear-gradient(
			90deg,
			#ffffff00,
			#000 10%,
			#000,
			#000 90%,
			#ffffff00
		);
	}
	@keyframes marquee {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-95%);
		}
	}
	@keyframes marquee2 {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(95%);
		}
	}
</style>
