---
import Container from "./Container.astro";
import icon from "../icons/cloud.svg";
import signal from "../icons/signal.svg";
import software from "../icons/software.svg";
import panels from "../icons/panels.svg";
import map from "../icons/map.svg";
import prompt from "../icons/prompt.svg";
---

<div class="text-gray-600 dark:text-gray-300 relative" id="why-cacta">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0 md:w-1/2 mx-auto">
      <h2
        class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
      >
        ¿Por qué Cacta?
      </h2>
      <p
        class="my-2 text-gray-600 text-center dark:text-gray-300 text-md md:text-xl font-semibold"
      >
        Nuestra misión es: construir tu futuro bienestar, hoy.
      </p>
      <p class="text-gray-600 text-center dark:text-gray-300">
        Nuestro principal objetivo es que las empresas puedan tomar decisiones
        informadas, reducir su impacto ambiental y al mismo tiempo maximizar su
        eficiencia operativa.
      </p>
    </div>

    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none"
      >
        <div
          class="flex justify-center w-fit m-auto bg-gradient-to-r from-[#030f33] to-[#4e737a] rounded-full"
        >
          <img
            class="w-12 h-12 rounded-full p-2"
            src={signal.src}
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div></div>
        </div>
        <p class="mt-8">
          Conexión 100% automatizada al sistema de gestión del cliente a través
          de API desarrolladas.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none"
      >
        <div
          class="flex justify-center w-fit m-auto bg-gradient-to-r from-[#030f33] to-[#4e737a] rounded-full"
        >
          <img
            class="w-12 h-12 rounded-full p-2"
            src={prompt.src}
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div></div>
        </div>
        <p class="mt-8">
          Algoritmo que tipifica bajo más de 70.000 emisiones registradas y
          27.000 datos de actividad.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none"
      >
        <div
          class="flex justify-center w-fit m-auto bg-gradient-to-r from-[#030f33] to-[#4e737a] rounded-full"
        >
          <img
            class="w-12 h-12 rounded-full p-2"
            src={software.src}
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div></div>
        </div>
        <p class="mt-8">
          Único software en Latinoamérica y Sudamérica desarrollado bajo
          metodología Análisis de Ciclo de Vida “LCA”.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none"
      >
        <div
          class="flex justify-center w-fit m-auto bg-gradient-to-r from-[#030f33] to-[#4e737a] rounded-full"
        >
          <img
            class="w-12 h-12 rounded-full p-2"
            src={map.src}
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div></div>
        </div>
        <p class="mt-8">
          Solución certificada, precisa y confiable siguiendo estándares
          europeos y bajo la normativa ISO 14040/44.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none"
      >
        <div
          class="flex justify-center w-fit m-auto bg-gradient-to-r from-[#030f33] to-[#4e737a] rounded-full"
        >
          <img
            class="w-12 h-12 rounded-full p-2"
            src={panels.src}
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div></div>
        </div>
        <p class="mt-8">
          Paneles e informes automatizados que harán de tu gestión sustentable
          una labor sencilla y simple.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white/10 dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 hover:shadow-xl hover:shadow-gray-600/10 transition cursor-crosshair dark:shadow-none"
      >
        <div
          class="flex justify-center w-fit m-auto bg-gradient-to-r from-[#030f33] to-[#4e737a] rounded-full"
        >
          <img
            class="w-12 h-12 rounded-full p-2"
            src={icon.src}
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div></div>
        </div>
        <p class="mt-8">
          Herramienta customizada a tus necesidades considerando tipo de
          cultivos, ganado y número de hectáreas.
        </p>
      </div>
    </div>
  </Container>
</div>
